.navegacao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
}
.navegacao__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navegacao__logo--imagem {
  padding-right: 5px;
}
.navegacao__logo--titulo {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #3A404E;
}
.navegacao__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navegacao__link--lista {
  font-size: 16px;
  text-decoration: none;
  color: #667085;
  padding: 0 10px;
}
.navegacao__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegacao__botoes--entrar {
  font-size: 16px;
  text-decoration: none;
  color: #667085;
  padding-right: 10px;
}
.navegacao__botoes--cadastrar {
  padding: 10px 18px;
  border-radius: 8px;
  background-color: #8E2424;
  color: #FFFFFF;
  border: 1px #8E2424 solid;
}

.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 97px 0;
  gap: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.cabecalho__sobre {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #8E2424;
}
.cabecalho__titulo {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #101828;
}
.cabecalho__texto {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #667085;
  text-align: center;
  width: 50%;
}

.resultados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  margin-bottom: 96px;
}
.resultados__caixa--titulo {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  color: #8E2424;
  width: 280px;
}
.resultados__caixa--subtitulo {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #101828;
  width: 280px;
}
.resultados__caixa--texto {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
  width: 280px;
}

.vagas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em 0 0 0;
}
.vagas__titulo {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 12px;
  color: #8E2424;
  background-color: rgba(142, 36, 36, 0.05);
  border-radius: 30px;
}
.vagas__subtitulo {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  padding: 10px 0;
  color: #101828;
  letter-spacing: -0.02em;
}
.vagas__texto {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #667085;
}
.vagas__imagem {
  padding: 2em 0;
}

.salario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.salario__caixa--titulo {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #101828;
  margin: 20px 0;
}
.salario__caixa--vaga {
  padding: 24px 24px;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  width: 700px;
  margin: 24px 0;
}
.salario__caixa--vaga--subtitulo {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #101828;
  padding-bottom: 30px;
}
.salario__caixa--vaga--texto {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #667085;
}

.depoimentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(196, 25, 25, 0.03);
  margin: 2em;
}
.depoimentos__titulo {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #8E2424;
  padding: 3em 0 1em 0;
}
.depoimentos__texto {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  width: 90%;
  color: #101828;
  letter-spacing: -0.02em;
  text-align: center;
  padding: 0 0 1em 0;
}
.depoimentos__imagem {
  padding-bottom: 1em;
}
.depoimentos__nome {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #101828;
  padding-bottom: 0.5em;
}
.depoimentos__profissao {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #667085;
  padding-bottom: 3em;
}

/*# sourceMappingURL=style.css.map */
