$vermelho: #8E2424;
$cinza: #667085;
$preto: #101828;
$tipoDeFonte: Arial, Helvetica, sans-serif;

@mixin flex($espaço) {
  display: flex;
  justify-content: $espaço;
  align-items: center;
}



.navegacao {
  @include flex(space-around);
  height: 80px;
  font-family: $tipoDeFonte;


    &__logo {
      @include flex(center);

      &--imagem {
        padding-right: 5px;
      }

      &--titulo {
        color: #3A404E;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
      }
    }

    &__link {
      @include flex(center);

      &--lista {
        text-decoration: none;
        color: $cinza;
        padding: 0 10px;
        font-size: 16px;
      }
    }

    &__botoes {
      @include flex(space-between);

      &--entrar {
        text-decoration: none;
        font-size: 16px;
        color: $cinza;
        padding-right: 10px;
      }

      &--cadastrar {
        padding: 10px 18px;
        border-radius: 8px;
        background-color: $vermelho;
        color: #FFFFFF;
        border: 1px $vermelho solid;
      }
    }

}

.cabecalho {
  @include flex(center);
  flex-direction: column;
  padding: 97px 0;
  gap: 24px;
  font-family: $tipoDeFonte;


  &__sobre {
    font-size: 16px;
    font-weight: 600;
    color: $vermelho;
  }

  &__titulo {
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: $preto;
  }

  &__texto {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $cinza;
    text-align: center;
    width: 50%;
  }
}

.resultados {
  @include flex(space-around);
  font-family: $tipoDeFonte;
  padding-left: 20px;
  margin-bottom: 96px;

  &__caixa {


    &--titulo {
      font-size: 60px;
      color: $vermelho;
      line-height: 72px;
      font-weight: 600;
      width: 280px;
    }

    &--subtitulo {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
      color: $preto;
      width: 280px;
    }

    &--texto {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $cinza;
      width: 280px;
    }
  }
}

.vagas {
  @include flex(center);
  flex-direction: column;
  font-family: $tipoDeFonte;
  padding: 2em 0 0 0;

  &__titulo {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 4px 12px;
    color: $vermelho;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 30px;
  }

  &__subtitulo {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    padding: 10px 0;
    color: $preto;
    letter-spacing: -0.02em;
  }

  &__texto {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $cinza;
  }

  &__imagem {
    padding: 2em 0;
  }
}